/node_modules
/.env
/.git
/.idea
/.vscode
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
!storage/framework/.gitignore
!storage/logs/.gitignore
.DS_Store
docker-compose.yml
README.md