APP_NAME=360invest
APP_ENV=production
APP_KEY=base64:jlqHpmXO4tFN2ztntK2CoPai2zxpgNg++BA58hhNxdg=
APP_DEBUG=false
APP_URL=${APP_URL}

VITE_DEV_SERVER_URL=${APP_URL}

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file

JOURS_CONSERVATION_CORBEILLE=30
CORBEILLE_NOTIFICATIONS=true

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_LEVEL=error

# Connexion PostgreSQL (injectée par Railway)
DB_CONNECTION=pgsql
DB_HOST=${DB_HOST}
DB_PORT=${DB_PORT}
DB_DATABASE=${DB_DATABASE}
DB_USERNAME=${DB_USERNAME}
DB_PASSWORD=${DB_PASSWORD}

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=
SESSION_SECURE_COOKIE=true
SESSION_SAME_SITE=lax

CACHE_STORE=database
QUEUE_CONNECTION=database

FILESYSTEM_DISK=local

BROADCAST_DRIVER=log

VITE_APP_NAME="${APP_NAME}"